<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Ordem de Serviço</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/s.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container">
        <form id="frmOS" class="mt-2 row g-3">
            <!-- Buscar OS -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchOS" maxlength="30" spellcheck="false" placeholder="Buscar OS">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnReadOS" onclick="searchOS()">Buscar</button>
            </div>

            <!-- Linha -->
            <hr class="mt-4 border border-primary">

            <!-- Número da OS -->
            <div class="col-md-6">
                <label for="inputOSNumber" class="form-label">Número da OS</label>
                <input type="text" class="form-control" id="inputOSNumber" spellcheck="false" required maxlength="10">
            </div>

            <!-- Cliente -->
            <div class="col-md-6">
                <label for="inputClientOS" class="form-label">Cliente</label>
                <input type="text" class="form-control" id="inputClientOS" spellcheck="false" required maxlength="30">
            </div>

            <!-- Data de Abertura -->
            <div class="col-md-4">
                <label for="inputOpenDate" class="form-label">Data de Abertura</label>
                <input type="date" class="form-control" id="inputOpenDate" required>
            </div>

            <!-- Data de Previsão -->
            <div class="col-md-4">
                <label for="inputDueDate" class="form-label">Data de Previsão</label>
                <input type="date" class="form-control" id="inputDueDate" required>
            </div>

            <!-- Status -->
            <div class="col-md-4">
                <label for="inputStatusOS" class="form-label">Status</label>
                <select class="form-select" id="inputStatusOS" name="status" required>
                    <option value="">Selecione o Status</option>
                    <option value="Aberto">Aberto</option>
                    <option value="Em Andamento">Em Andamento</option>
                    <option value="Fechado">Fechado</option>
                </select>
            </div>

            <!-- Descrição do Problema -->
            <div class="col-md-12">
                <label for="inputDescription" class="form-label">Descrição do Problema</label>
                <textarea class="form-control" id="inputDescription" rows="4" spellcheck="false" maxlength="300" required></textarea>
            </div>

            <!-- Técnico Responsável -->
            <div class="col-md-6">
                <label for="inputTechnician" class="form-label">Técnico Responsável</label>
                <input type="text" class="form-control" id="inputTechnician" spellcheck="false" maxlength="30" required>
            </div>

            <!-- Valor Orçado -->
            <div class="col-md-6">
                <label for="inputEstimatedValue" class="form-label">Valor Orçado</label>
                <input type="number" class="form-control" id="inputEstimatedValue" step="0.01" required>
            </div>

            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreateOS">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdateOS">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDeleteOS">Excluir</button>
                <button type="reset" class="btn btn-secondary" id="btnResetOS" onclick="resetForm()">Resetar</button>
            </div>

        </form>
    </div>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- renderizador -->
    <script src="rendererOS.js"></script>
</body>

</html>
