<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte</title>
    <link rel="stylesheet" href="../public/css/unico.css">
</head>

<body>
    <div class="container suporte-container">
        <h1>Suporte</h1>
        <p>Tem alguma dúvida ou problema? Nossa equipe está aqui para ajudar!</p>
        <!-- Seção de tópicos de suporte -->
        <div class="help-topics">
            <div class="topic">
                <h4>Como cadastrar um cliente?</h4>
                <p>Para cadastrar um novo cliente, clique no botão 'Cadastro de Clientes' na tela inicial.</p>
            </div>

            <div class="topic">
                <h4>Como emitir uma Ordem de Serviço (OS)?</h4>
                <p>Na tela principal, clique em 'Emissão de OS' e preencha as informações solicitadas.</p>
            </div>

            <div class="topic">
                <h4>Como configurar a aplicação?</h4>
                <p>A configuração do sistema pode ser feita na tela de configurações, acessível a partir da tela inicial.</p>
            </div>

             <!-- Botão Sair -->
        <button class="btn sair-btn" onclick="fecharJanela()">Sair</button>

        </div>
    </div>

    <script src="../public/js/script.js"></script>
</body>

</html>
